@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 10px;
}

.leaflet-popup-content-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
}

